.theme-default:root {
  --primary1: #9310c7;
  --primary2: #7f10ac;
  --neutral1: #1b1c1d;
  --neutral2: #212325;
  --neutral3: #262a2c;
  --neutral4: #2c3034;
  --neutral5: #31373b;
  --neutral6: #373e43;
  --neutral7: #3c454a;
  --neutral8: #424b52;
  --neutral9: #475259;
  --neutral10: #4d5961;
  --text1: #ffffff;
  --text2: #dee1e3;
  --text3: #bec4c8;
  --text4: #9da6ac;
  --text5: #7d8991;
  --text6: #5c6b75;
  --textError: #ff656d;
  --error1: #c1272f;
  --warn1: #bf5800;

  --app_bg: var(--neutral1);

  /*------------------------------------------------
    Views
  ------------------------------------------------*/

  --v_signIn_bgColor: var(--neutral1);
  --v_signIn_content_bgColor: var(--neutral3);
  --v_signIn_content_borderColor: var(--neutral5);
  --c_signIn_content_dropShadow: 0 0 6px rgba(0, 0, 0, 0.5);
  --v_signIn_errors_bgColor: var(--error1);
  --v_signIn_errors_item_color: var(--text1);

  /*------------------------------------------------
    Components
  ------------------------------------------------*/

  /* App View */
  --c_app_view_bgColor: var(--neutral1);
  --c_app_view_dropShadow: 0 0 6px rgba(0, 0, 0, 0.5);
  --c_app_view_header_bgColor: var(--neutral4);
  --c_app_view_header_bgImage: repeating-linear-gradient(
    45deg,
    var(--neutral4) 0,
    var(--neutral4) 1px,
    var(--neutral3) 0,
    var(--neutral3) 50%
  );
  --c_app_view_header_dropShadow: 0 0 6px rgba(0, 0, 0, 0.5);
  --c_app_view_title_color: var(--text1);

  /* Icon Button */
  --c_button_bgColor: var(--primary1);
  --c_button_borderColor: var(--primary1);
  --c_button_color: var(--text1);
  --c_button__hover_bgColor: var(--primary2);
  --c_button__hover_borderColor: var(--primary2);
  --c_button__hover_color: var(--text1);
  --c_button__disabled_bgColor: var(--neutral5);
  --c_button__disabled_borderColor: var(--neutral5);
  --c_button__disabled_color: var(--text6);
  --c_button_secondary_bgColor: var(--neutral5);
  --c_button_secondary_borderColor: var(--neutral5);
  --c_button_secondary_color: var(--text3);
  --c_button_secondary__hover_bgColor: var(--neutral7);
  --c_button_secondary__hover_borderColor: var(--neutral7);
  --c_button_secondary__hover_color: var(--text1);
  --c_button_secondary__disabled_bgColor: var(--neutral3);
  --c_button_secondary__disabled_borderColor: var(--neutral5);
  --c_button_secondary__disabled_color: var(--neutral8);

  /* Date Time Picker */
  --c_dateTimePicker_bgColor: var(--neutral3);
  --c_dateTimePicker_color: var(--text3);
  --c_dateTimePicker_icon_fill: var(--text6);
  --c_dateTimePicker_mainText_color: var(--text3);
  --c_dateTimePicker_subText_color: var(--text3);
  --c_dateTimePicker_header_bgColor: var(--neutral5);
  --c_dateTimePicker_header_color: var(--text1);
  --c_dateTimePicker_monthDay_color: var(--text1);
  --c_dateTimePicker_monthDay__selected_bgColor: var(--primary1);
  --c_dateTimePicker_monthDay__selected__hover_bgColor: var(--primary2);
  --c_dateTimePicker_monthDay__hover_bgColor: var(--neutral6);
  --c_dateTimePicker_navigation_button_stroke: var(--text4);
  --c_dateTimePicker_navigation_button__hover_stroke: var(--text2);
  --c_dateTimePicker_actions_bgColor: var(--neutral5);
  --c_dateTimePicker_actions_button_color: var(--text3);
  --c_dateTimePicker_actions_button__hover_color: var(--text1);
  --c_dateTimePicker_list_scrollbar_thumb: var(--neutral8);
  --c_dateTimePicker_list_scrollbar_track: var(--neutral5);

  /* List Item */
  --c_listItem_bgColor: var(--neutral3);
  --c_listItem_title_color: var(--text2);
  --c_listItem_subTitle_color: var(--text4);
  --c_listItem_action_fill: var(--text6);

  /* List Sub Header */
  --c_listSubHeader_color: var(--text5);

  /* Message Screen */
  --c_messageScreen_color: var(--text3);

  /* Select Menu */
  --c_selectMenu_color: var(--text4);
  --c_selectMenu__hover_color: var(--text1);
  --c_selectMenu_bgColor: var(--neutral6);
  --c_selectMenu_dropShadow: 0 0 6px rgba(0, 0, 0, 0.5);
  --c_selectMenu_openBtn_fill: var(--text5);
  --c_selectMenu_openBtn__hover_fill: var(--text1);

  /* Task Bar */
  --c_taskBar_bgColor: var(--neutral3);
  --c_taskBar_dropShadow: 0 0 6px rgba(0, 0, 0, 0.5);

  /* Text Display */
  --c_textDisplay_icon_fill: var(--text5);
  --c_textDisplay_subText_color: var(--text4);

  /* Text Field */
  --c_textField_icon_fill: var(--text5);
  --c_textField_label_color: var(--text5);
  --c_textField_field_bgColor: var(--neutral3);
  --c_textField_field_borderColor: var(--neutral5);
  --c_textField_field_borderColor__focus: var(--neutral7);
  --c_textField_field_color: var(--text2);
  --c_textField_error_color: var(--textError);

  /* Toast */
  --c_toast_icon_bgColor_error: var(--error1);
  --c_toast_icon_bgColor_info: var(--primary1);
  --c_toast_icon_bgColor_warn: var(--warn1);
  --c_toast_icon_color: var(--text1);
}
