.theme-light:root {
  --primary1: #f9c83e;
  --primary2: #ebba34;
  --neutral1: #ffffff;
  --neutral2: #f9f9f8;
  --neutral3: #f4f3f1;
  --neutral4: #eeecea;
  --neutral5: #e9e6e3;
  --neutral6: #e3e0dc;
  --neutral7: #dedad5;
  --neutral8: #d8d3ce;
  --neutral9: #d3cdc7;
  --neutral10: #cdc7c0;
  --text1: #222222;
  --text2: #3a3a3a;
  --text3: #525252;
  --text4: #696969;
  --text5: #818181;
  --text6: #999999;
  --textError: #d6766a;
  --error1: #a70008;
  --warn1: #bf5800;

  /*------------------------------------------------
    Components
  ------------------------------------------------*/

  /* App View */
  --c_app_view_bgColor: var(--neutral5);
  --c_app_view_dropShadow: 0 0 6px rgba(0, 0, 0, 0.5);
  --c_app_view_header_bgColor: var(--primary1);
  --c_app_view_header_bgImage: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.03) 0,
    rgba(0, 0, 0, 0.03) 1px,
    var(--c_app_view_header_bgColor) 0,
    var(--c_app_view_header_bgColor) 50%
  );
  --c_app_view_title_color: var(--text2);
  --c_app_view_header_dropShadow: 0 0 6px rgba(0, 0, 0, 0.5);

  /* Date Time Picker */
  --c_dateTimePicker_bgColor: var(--neutral1);
  --c_dateTimePicker_color: var(--text3);
  --c_dateTimePicker_icon_fill: var(--text6);
  --c_dateTimePicker_mainText_color: var(--text3);
  --c_dateTimePicker_subText_color: var(--text3);
  --c_dateTimePicker_header_bgColor: var(--neutral1);
  --c_dateTimePicker_header_color: var(--text1);
  --c_dateTimePicker_monthDay_color: var(--text1);
  --c_dateTimePicker_monthDay__selected_bgColor: var(--primary1);
  --c_dateTimePicker_monthDay__selected__hover_bgColor: var(--primary2);
  --c_dateTimePicker_monthDay__hover_bgColor: var(--neutral6);
  --c_dateTimePicker_navigation_button_stroke: var(--text4);
  --c_dateTimePicker_navigation_button__hover_stroke: var(--text2);
  --c_dateTimePicker_actions_bgColor: var(--neutral1);
  --c_dateTimePicker_actions_button_color: var(--text3);
  --c_dateTimePicker_actions_button__hover_color: var(--text1);
  --c_dateTimePicker_list_scrollbar_thumb: var(--neutral8);
  --c_dateTimePicker_list_scrollbar_track: var(--neutral5);

  /* Icon Button */
  --c_iconButton_bgColor: var(--primary1);
  --c_iconButton_borderColor: var(--primary1);
  --c_iconButton_fill: var(--text1);
  --c_iconButton__hover_bgColor: var(--primary2);
  --c_iconButton__hover_borderColor: var(--primary2);
  --c_iconButton__hover_fill: var(--text1);
  --c_iconButton_secondary_bgColor: transparent;
  --c_iconButton_secondary_borderColor: var(--neutral8);
  --c_iconButton_secondary_fill: var(--text6);
  --c_iconButton_secondary__hover_bgColor: transparent;
  --c_iconButton_secondary__hover_borderColor: var(--text5);
  --c_iconButton_secondary__hover_fill: var(--text5);

  /* Icon Link */
  --c_iconLink_bgColor: var(--c_iconButton_bgColor);
  --c_iconLink_borderColor: var(--c_iconButton_borderColor);
  --c_iconLink_fill: var(--c_iconButton_fill);
  --c_iconLink__hover_bgColor: var(--c_iconButton__hover_bgColor);
  --c_iconLink__hover_borderColor: var(--c_iconButton__hover_borderColor);
  --c_iconLink__hover_fill: var(--c_iconButton__hover_fill);
  --c_iconLink_secondary_bgColor: var(--c_iconButton_secondary_bgColor);
  --c_iconLink_secondary_borderColor: var(--c_iconButton_secondary_borderColor);
  --c_iconLink_secondary_fill: var(--c_iconButton_secondary_fill);
  --c_iconLink_secondary__hover_bgColor: var(
    --c_iconButton_secondary__hover_bgColor
  );
  --c_iconLink_secondary__hover_borderColor: var(
    --c_iconButton_secondary__hover_borderColor
  );
  --c_iconLink_secondary__hover_fill: var(--c_iconButton_secondary__hover_fill);

  /* List Item */
  --c_listItem_bgColor: var(--neutral3);
  --c_listItem_title_color: var(--text2);
  --c_listItem_subTitle_color: var(--text4);
  --c_listItem_action_fill: var(--text6);

  /* List Sub Header */
  --c_listSubHeader_color: var(--text5);

  /* Message Screen */
  --c_messageScreen_color: var(--text3);

  /* Select Menu */
  --c_selectMenu_color: var(--text4);
  --c_selectMenu__hover_color: var(--text1);
  --c_selectMenu_bgColor: var(--neutral1);
  --c_selectMenu_dropShadow: 0 0 6px rgba(0, 0, 0, 0.1);
  --c_selectMenu_openBtn_fill: var(--text5);
  --c_selectMenu_openBtn__hover_fill: var(--text1);

  /* Task Bar */
  --c_taskBar_bgColor: var(--neutral4);
  --c_taskBar_dropShadow: 0 0 4px rgba(0, 0, 0, 0.1);

  /* Text Display */
  --c_textDisplay_icon_fill: var(--text5);
  --c_textDisplay_subText_color: var(--text4);

  /* Text Field */
  --c_textField_icon_fill: var(--text5);
  --c_textField_label_color: var(--text5);
  --c_textField_field_bgColor: var(--neutral3);
  --c_textField_field_borderColor: var(--neutral8);
  --c_textField_field_borderColor__focus: var(--primary2);
  --c_textField_field_color: var(--text2);
  --c_textField_error_color: var(--textError);
}
