html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #394247;
  margin: 0;
  padding: 0;
}

#app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.g_app-content {
  background-color: #1b1c1d;
  height: calc(100% - 60px);
  margin: 30px;
  max-height: 812px;
  max-width: 375px;
  position: relative;
  width: calc(100% - 60px);
}

@media (max-width: 440px) and (hover: none) {
  .g_app-content {
    height: 100%;
    margin: 0;
    max-height: none;
    max-width: none;
    width: 100%;
  }
}

.g_page {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.g_page-body {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: auto;
  width: 100%;
}

.g_page-header {
  background-color: #262c30;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #323a40 0,
    #323a40 1px,
    #262c30 0,
    #262c30 50%
  );
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 50%;
  justify-content: flex-end;
  padding: 20px;
}

.g_page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  position: relative;
}

.g_page-header-title {
  color: #ffffff;
  font-size: 2.8rem;
  line-height: 2.2rem;
  margin: 0;
}

.g_back-btn {
  align-items: center;
  background-color: #394248;
  border: none;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.g_back-btn svg {
  fill: #7a8c98;
}

.g_message {
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-grow: 1;
  font-size: 1.4rem;
  justify-content: center;
  margin: 0;
}
